
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="wrap">
    <ul class="nav">
        <li><a href="../Advertiser/Profile">View Profile</a></li>
        <li><a href="../Advertiser/RegisterAD">Add advertisement</a></li>
        <li><a href="../Advertiser/Logout">Logout</a></li>

    </ul>
</div>